<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>chat</title>
	<script src="{% static 'js/jquery.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
</head>
<body>
	<header>
		<h2>hello, XXX</h2>
		<button id="goback">返回</button>
	</header>

	
	<content>


	</content>


	<footer>
		<textarea rows="1" id="write_words"></textarea>
		<button id="commit">发送</button>
	</footer>
	
</body>
</html>