<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>说说</title>
	<meta charset="utf-8">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/write.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}">
</head>
<body>
	<header>
		<h2>hello, XXX</h2>
		<button id="reback">返回</button>
	</header>

	
	<content id="words_box">
		<textarea rows="13" id="commit_words" value="hello" readonly></textarea>

	</content>


	<footer>
		<!-- <input type="" name=""> -->
		<textarea rows="1" id="write_words"></textarea>
		<button id="commit">发送</button>
	</footer>

</body>
</html>