<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>一罐</title>
	<meta charset="utf-8">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
</head>
<body>

	<input type="text" name="username" placeholder="请输入用户名" id="nickname">
	<br><br>
	<input type="text" name="password" placeholder="请输入密码" id="password">
	<br><br>
	<input type="text" name="re_password" placeholder="请再次输入密码" id="re_password">
	<br><br>
	<input type="button" name="submit" value="提交" id="commit">
	
</body>
</html>